.factoryName {
    font-size: 20px;
    font-weight: bold;
    /* display: inline-block; */
}

.childContainer {
    width: 90%;
    border-left: 2px dashed black;
}

.noLeftPadding {
    margin-left: 0 !important;
}

.factory {
    margin-bottom: 10px;
}

.factoryIcons {
    margin-bottom: 5px;
    cursor: pointer;
}