.factoryContainer {
    border-left: 3px dashed black;
    width: 80%;
}

.root {
    background: #333;
    border: 1px solid #222;
    height: 100px;
    color: white;
}

h2 {
    margin-bottom: 0px;
}
.addFactory {
    margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .factoryContainer {
        width: 90%;
    }
}