<div class="container">
    <div class="root">
        <div class="container">
            <h2>{{ getRootText() }}</h2>
            <button id="addFactory" class="btn btn-sm btn-primary" [disabled]="isDisabled" (click)="onAddFactoryClick($event)">ADD FACTORY</button>
        </div>
    </div>
    <div class="factoryContainer container">
        <!-- Here we're binding the factory property of each app-factory element to the factory represented by factory of factories -->
        <app-factory *ngFor="let factory of factories; let i = index;" [factory]="factory" (factoryToRemove)="handleRemoveFactory($event)">
        </app-factory>

    </div>
</div>