.child:hover {
    cursor: pointer;
}

.child .times {
    visibility: hidden;
}

.child:hover .times {
    visibility: visible;
}

@media screen and (max-width: 992px) {
    .child .times {
        visibility: visible;
    }
}