<!-- Active and not editing -->
<div *ngIf="active && finishedEditing" class="child row" (click)="handleClick($event)">
    <div class="col-12 col-sm-4 pl-0">
        ---{{ child.value }}
    </div>
    <div class="text-success col-6 col-sm-4 times">
        Start: {{ startTime | date:"shortTime"}}
    </div>
    <div class="text-danger col-6 col-sm-4 times">
        End: {{ endTime | date:"shortTime"}}
    </div>
</div>

<!-- Not editing but inactive -->
<div *ngIf="!active && finishedEditing" class="child text-danger row" (click)="handleClick($event)">
    <div class="col-12 col-sm-4 pl-0">
        ---{{ child.value }}
    </div>
    <div class="text-success col-6 col-sm-4 times">
        Start: {{ startTime | date:"shortTime"}}
    </div>
    <div class="text-danger col-6 col-sm-4 times">
        End: {{ endTime | date:"shortTime"}}
    </div>
</div>

<!--  Active but still editing-->
<div *ngIf="active && !finishedEditing" class="child row" (click)="handleClick($event)">
    <div class="col-12 col-sm-4 pl-0">
        ---{{ child.value }}
    </div>
    <div class="text-success col-6 col-sm-4">
        <input [ngModel]="startTime | date:'HH:mm'" (ngModelChange)="startTimeChange($event)" type="time" name="startTime" required/>
    </div>
    <div class="text-danger col-6 col-sm-4">
        <input [ngModel]="endTime | date:'HH:mm'" (ngModelChange)="endTimeChange($event)" type="time" name="endTime" required/>
    </div>
    <div class="col-12">
        <button class="btn btn-sm ml-5 float-right" (click)="saveChild()">Save</button>
    </div>
</div>

<!-- Inactive and still editing -->
<div *ngIf="!active && !finishedEditing" class="child text-danger row" (click)="handleClick($event)">
    <div class="col-12 col-sm-4 pl-0">
        ---{{ child.value }}
    </div>
    <div class="text-success col-6 col-sm-4">
        <input [ngModel]="startTime | date:'HH:mm'" (ngModelChange)="startTimeChange($event)" type="time" name="startTime" required/>
    </div>
    <div class="text-danger col-6 col-sm-4">
        <input [ngModel]="endTime | date:'HH:mm'" (ngModelChange)="endTimeChange($event)" type="time" name="endTime" required/>
    </div>
    <div class="col-12">
        <button class="btn btn-sm float-right" (click)="saveChild()">Save</button>
    </div>
</div>